#input_text {
    height: 4;
    scrollbar-size: 1 1;
}

#enter_button {
    height: 4;
}

LLMInput {
    dock: bottom;
}

UserPrompt {
    background: #1f1f1f;
    align-vertical: middle;
    padding-top: 1;
    color: white;
    align-horizontal: right;
}

#user_prompt {
    color: white;
}

LLMToolCallDisplay {
    border: panel $secondary-muted;
    border-title-align: center;
    height: 3;
    align: center middle;
}

LLMThinkingSummary {
    margin: 0;
}

#user_llm_screen {
    layout: vertical;
    scrollbar-size: 1 1;
}

#thinking_collapsible {
    background: $boost 75%;
    opacity: 50%;
}

#log_collapsible {
    background: $background;
    color: $background;
}

#raw_log {
    height: 10;
}

LLMResponse {
    align-horizontal: right;
}

#llm_resp_bullet {
    width: 2;
    color: white;
}

#llm_response_text {
    padding: 0;
    color: white;
}

#input_arrow {
    color: white;
    align: left top;
    width: 2;
    padding: 0;
}

#input_text {
    height: 2;
    background: $background;
    padding: 0;
    color: white;
    width: 90%;
    align: right middle;
}

LLMInput {
    border: hkey $foreground;
    padding: 0;
    height: 3;
}

WelcomeHeader {
    height: 8;
    align: center top;
    border: round $primary;
    padding: 0;
    margin: 0;
}

#welcome_header {
    padding: 0 1 1 1;
    offset-y: -1;
    text-align: center;
}

.tool_success {
    color: $success;
    border: panel $success;
}
